databases:
  - name: growai-db
    databaseName: devgrowai
    ipAllowList: []

services:
  - type: web
    name: keycloak
    env: docker
    plan: free
    numInstances: 1
    dockerCommand: "start-dev"
    image:
      url: quay.io/keycloak/keycloak:26.1
    envVars:
      - key: KEYCLOAK_ADMIN
        value: admin
      - key: KEYCLOAK_ADMIN_PASSWORD
        value: admin
      - key: KC_DB
        value: postgres
      - key: KC_DB_URL_HOST
        fromDatabase:
          name: growai-db
          property: host
      - key: KC_DB_URL_PORT
        fromDatabase:
          name: growai-db
          property: port
      - key: KC_DB_URL_DATABASE
        fromDatabase:
          name: growai-db
          property: database
      - key: KC_DB_USERNAME
        fromDatabase:
          name: growai-db
          property: user
      - key: KC_DB_PASSWORD
        fromDatabase:
          name: growai-db
          property: password
      - key: KC_HEALTH_ENABLED
        value: "true"
      - key: KC_METRICS_ENABLED
        value: "true"
      - key: KC_HOSTNAME_STRICT
        value: "false"
      - key: KC_HOSTNAME_STRICT_HTTPS
        value: "false"
      - key: TZ
        value: Europe/Istanbul
    healthCheckPath: /

  - type: web
    name: growai-backend
    env: docker
    plan: free
    numInstances: 1
    image:
      url: metinacun95/growai:latest
    envVars:
      - key: SPRING_DATASOURCE_URL
        value: jdbc:postgresql://$(PG_HOST):$(PG_PORT)/$(PG_DB)
      - key: SPRING_DATASOURCE_USERNAME
        fromDatabase:
          name: growai-db
          property: user
      - key: SPRING_DATASOURCE_PASSWORD
        fromDatabase:
          name: growai-db
          property: password
      - key: PG_HOST
        fromDatabase:
          name: growai-db
          property: host
      - key: PG_PORT
        fromDatabase:
          name: growai-db
          property: port
      - key: PG_DB
        fromDatabase:
          name: growai-db
          property: database
      - key: SPRING_PROFILES_ACTIVE
        value: docker
      - key: TZ
        value: Europe/Istanbul
    healthCheckPath: /actuator/health
    autoDeploy: true

  - type: web
    name: growai-frontend
    env: docker
    plan: free
    numInstances: 1
    image:
      url: metinacun95/growai-fe:latest
    envVars:
      - key: VITE_API_BASE_URL
        value: https://growai-backend.onrender.com
      - key: TZ
        value: Europe/Istanbul
    healthCheckPath: /
    autoDeploy: true
